.calendar-content {
    color: white;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    margin-left: 15%;
    max-width: 70%;
}

#day-number {
    border-width: 4px;
    border-color: white;
    border-radius: 7px;
    border: solid;
    display: flex;
    font-size: small;
    justify-content: left;
    margin-top: 0%;
    margin-left: 5%;
    margin-bottom: 4%;
    padding-bottom: 50%;
    padding-left: 7%;
}

.calendar-day:hover {
    color: black
}